/** Mise en place de la couleur de fond */
/*      Texture transparente    > https://www.transparenttextures.com/ */
/*      Association de couleurs > https://color.adobe.com/fr/explore */
/*      Dégradé de couleur      > https://cssgradient.io/
            #015958
            #023535
            139°
*/
/*      Police > Google web fonts > Bebas Neue > https://fonts.google.com/specimen/Bebas+Neue?query=bebas */

/*! Resets */
* {
    box-sizing: border-box;
    /* transition: all .3s; */
}


html {
    background      : rgb(15,194,192);
    background      : linear-gradient(139deg, rgba(15,194,192,1) 0%, rgba(1,89,88,1) 100%);
    margin          : 0;
    padding         : 0;
}

body {
    background      : url('../images/3px-tile.png') repeat;
    color           : #F2E3D5;
    font-family     : 'Bebas Neue', cursive;
    font-size       : 2em;
    margin          : 0;
    min-height      : 100vh;
    padding         : 1em;
    text-align      : center;
}

a.contact {
    color   : #b8b9e5;
}
a.contact:active
,a.contact:hover
,a.contact:visited
{
    color   : #4c4f99;
}

/* Scrollbar plus sexy */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.2); 
    border-radius: 0;
}
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: rgba(0,0,0,0.3); 
}

/*! Utilitaires */
.hidden {
    display : none;
}



/*! Chats */
.chats {
    color   : rgba(33, 37, 41, .75);
}

/** Headers */
/* Icône */
.chat-header .icone button {
    height  : 50px;
    width   : 50px;
}
.chat-header .icone i {
    /* FIX: Alignement vertical FA */
    line-height : 50px;
}
/* Avatar / https://www.youtube.com/watch?v=zKe8jze56Vg */
.chat-header .avatar img {
    box-shadow  : 0px 0px 5px rgba(0, 0, 0, .75);
}
/* Nom de l'utilisateur */
.chat-header .name {
    /* FIX: Alignement vertical */
    padding-top : 5px;
}

/** Body */
.chat-body {
    font-size   : 0.5em;
    max-height  : 60vh;
    overflow-y  : auto;

    /* Lier réponses suggérées */
    padding-bottom  : 0;

    /* Forcer scroll vers le bas */
    /*      @see    https://stackoverflow.com/a/44051405 */
    display         : flex;
    flex-direction  : column-reverse;
}

/* Les bulles ne prennent pas toute la largeur */
.chat-body .chat-conversation {
    align-items     : start;
    display         : flex;
    flex-direction  : column;
}
/* Bulles de chat / https://bbbootstrap.com/snippets/chat-bubble-hover-effect-23297029 */
.chat-body .chat-bubble {
    background-color        :paleturquoise;
    border-radius           : 1em;
    border-top-left-radius  : 0;
    margin-bottom           : 1em;
    /* Eviter que les messages trop long ne passent pas à la ligne */
    max-width               : 100%;
    padding                 : 0.5em 1em;
    text-align              : left;
}
.chat-body .chat-bubble.chat-bubble-right {
    /* Les bulles ne prennent pas toute la largeur */
    align-self                  : end;
    
    border-top-left-radius      : 1em;
    border-bottom-right-radius  : 0;
    text-align                  : right;
}
.chat-body .chat-bubble.disabled {
    /* BS disabled */
    background-color        : rgba(108,117,125);
    cursor                  : default;
}
    /* Survol uniquement si actif */
    .chat-bubble:not(.disabled):hover {
        background-color    : lightseagreen;
        cursor              : pointer;
    }

.chat-bubble-actions {
    opacity : 0;
}
    .chat-bubble:not(.disabled):hover .chat-bubble-actions {
        opacity : 1;
    }

/* Réponses suggérées */
.suggested-responses {
    border-bottom               : none;
    border-bottom-left-radius   : 0px;
    border-bottom-right-radius  : 0px;
}
.suggested-responses .card-header {
    border-bottom               : 0.8px solid rgba(0, 0, 0 , 0.176);
}
.suggested-responses .card-header .btn-display {
    transform: rotate(180deg);   
}

/* Repliées / cachées */
.suggested-responses.suggested-responses-hidden .card-body {
    display : none;
}
.suggested-responses.suggested-responses-hidden .card-header {
    border-bottom   : none;
}
.suggested-responses.suggested-responses-hidden .card-header .btn-display {
    transform: none;
}
